<div  fxLayoutGap="0px" fxLayoutAlign="space-evenly center" style="margin-top: 10px; ">
    <div fxLayout="column"  class="create-train" fxLayout="column" fxLayoutAlign="space-around center" >
       <h1 style="color: white; font-size: 100px; text-align: center; font-family:   'Arial Narrow Bold', sans-serif; margin-bottom: 0px; ">Create, Train and Deploy</h1>
       <p style="text-align: center; font-size: 30px; font-family: sans-serif; color: white;">We'll help you to easily create your virtual agent and deploy within your organization to improve efficiency.</p>
       <div>
        <button mat-raised-button class="getstarted">Get Started</button>
       </div>
    </div>

</div>

<div fxLayout="row" fxLayoutAlign="space-around center" class="homebottom">
    <div fxLayout="column" fxLayoutAlign="space-around center" >
        <p class="steps">1</p>
        <p class="home-bottom-itemname">Create your chatbot</p>
        <img src="assets/images/create.png" alt="create chatbot" class="steps-images">
    </div>
    <div fxLayout="column" fxLayoutAlign="space-around center">
        <p class="steps">2</p>
        <p class="home-bottom-itemname">Train it easily</p>
        <img src="assets/images/train.png" alt="train chatbot" class="steps-images">
    </div>
    <div fxLayout="column" fxLayoutAlign="space-around center">
        <p class="steps">3</p>
        <p class="home-bottom-itemname">Deploy to your prefered channel</p>
        <img src="assets/images/deploy.png" alt="deploy chatbot" class="steps-images">
    </div>
    <div fxLayout="column" fxLayoutAlign="space-around center">
        <p class="steps">4</p>
        <p class="home-bottom-itemname">Manage your chatbot</p>
        <img src="assets/images/manage.png" alt="manage chatbot" class="steps-images">
    </div>

</div>