.create-train{
    
   
    
    max-width: 100%;
    padding: 10px 100px 50px 100px;
 
}

.getstarted{
   padding: 10px 20px 10px 20px;
   font-size: large;
   font-family: sans-serif;
   background-color: rgb(179, 153, 6);
   color: white;
   border-radius: 5px;
   
}

.getstarted:hover{
    padding: 10px 20px 10px 20px;
    font-size: large;
    font-family: sans-serif;
    background-color: rgb(179, 153, 6);
    color: white;
    border-radius: 5px;
    transform: scale(1.1);
}
.homebottom{
    background-color:white;

}
.home-bottom-itemname{
    font-family: sans-serif;
    color: black;
    letter-spacing: 1px;
    font-weight: 700;
}

.steps{
    font-family: sans-serif;
    color: black;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 40px;
}
.steps-images{
    height: 90px;
    width: 90px;
    //................................
}

/*
.banner-area0{
   
    display: -webkit-flex;
    flex-direction: row;
    gap:30%;
    flex: auto;
    
    
}

@media (max-width: 1000px){
    section{
        padding: 100px 50px;
    }
}

@media (max-width: 600px){
    section{
        padding: 125px 50px;
    }
}

section p{
    max-width: 800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0px 20px;

}

.banner-area2{
    display: -webkit-flex;
  flex-direction: row;
}
*/