<!--<div class="container jumbotron"
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.xs="start center "
fxLayoutAlign.sm="start center"
fxLayoutAlign.gt-sm=" center center"
fxLayoutGap="5px"
style="background-color: darkblue;">

<div fxFlex fxFlex.gt-sm="70%">
    <h1>App</h1>
   
</div>

<div fxFlex fxFlex.gt-sm="20%">
    <img src="assets/images/images/logo.png" alt="Logo">
    Section1
</div>
       
<div fxFlex>
    Section2
</div>
</div>-->
<div > 
    <mat-toolbar class="toolbar1 toolbar2" fxLayout="row"  fxLayoutAlign="space-between center">
                <div>
                    <!--logo here-->
                </div>  
                 
                <div>
                    <a mat-raised-button color="primary" routerLink="" class="buttons-about-docs-etc"  >About</a>
                    <a mat-raised-button  class="buttons-about-docs-etc">Documents</a>
                    <a mat-raised-button  class="buttons-about-docs-etc" routerLink="">Contact Us</a>
                </div>

                <div>
                    <!--login here-->
                    <button  mat-raised-button color="Accent" class="login">Login</button>
                    <button mat-raised-button class="signup">Sign Up</button>
                </div>
       
        
       
        
    
    </mat-toolbar>
</div>




